$dark: #081b29;
$light: #353;
$bordo: #79031d;
$zuta: #797703;
$bela: #fff;
$braon: #292908;
$za_link: #eeff00;
$zelena: #353;
$zelena_1: #008000;
$crna: #000000;
$crvena : #c20000;
$kafa : #e6dacb;
//Hazard Collors

$warning: #fa0707;




$accentVeryDark: #8F512E;
$accentDark: #D6865A;
$accentLight: #FFBD94;
$accentPastel: #5A2F18;
$accentPastel2: #44291A;
$accentSuperLight: #FFBD94;
$accent: #FEAB7D;
$link: #6b88ff;
$linkVisited: #5A76EC;
$checkboxBorderColor: #2D2D30;
$checkboxBackgroundColor: #313133;
$reportBlue: #046ef8;
$reportLightBlue: #bad4ff;
$reportYellow: #feb201;
$reportGreen: #1daf6d;
$reportBluePastel: #7EBCFF;
$reportLightBluePastel: #DBEBFF;
$reportYellowPastel: #FFE37C;
$reportGreenPastel: #8FE5BE;
$blueBg: #3D62F7;
$blueBgHover: #2F53E7;
$bluePastel: #082f4a;
$blue: #1666E0;
$reddish: #F24E1E;
$yellow: #615434;
$yellowBg: #353026;
$yellowPastel: #8c7253;
$red: #B04755;
$redClock: #D45566;
$redPastel: #4a1e23;
$switchOn: #FEAB7D;
$switchOff: #878787;
$switchKnob: #3A3A3D;
$rctUiBg: #3A3A3D;
$rctBg: #2E2E31;
$rctBorder: #131313;
$rctWeekendDaysBg: #2B2B2E;
$rctBacklogBg: #292929;
$btnBg: rgba(88, 85, 94, 0.5);
$btnBgHover: rgba(88, 85, 94, 0.7);
$msgBg: #4D4D4D;
$msgColor: #E3E3E3;
$myMsgBg: #1666E0;
$myMsgColor: #D3E1FF;
$indigo: #4640de;
$indigoPastel: #1e135e;
$green: #4cd964;
$greenPastel: #123317;
$greenPastelHover: undefined;
$green2: #24A15D;
$green2Pastel: #114d2c;
$green2PastelHover: #0D4827;
$max: #FFFFFF;
$primary: #E3E3E3;
$secondary: #E3E3E3;
$tertiary: #B3B3B3;
$subtle: #878787;
$faint: #4B4B4C;
$primaryBg: #3A3A3D;
$primaryBgHover: #48484e;
$primarySecondaryMixBg: #2B2B2E;
$secondaryBg: #292929;
$tertiaryBg: #212121;
$backdropColor: #19181B;
$popupTextColor: #B3B3B3;
$sidebarBg: #282828;
$inputBg: #414141;
$subtleSelectedBg: #424242;
$accentSubtleBg: #424242;
$accentSubtleBg2: #424242;
$emptyProgressBg: #242426;
$border: #1F1F1F;
$border2: #4B4B4C;
$yellowBgHover: #302B22;
$yellowDark: #f4cc9d;
$redPastelHover: #3F1419;
$contentLoaderBackground: rgba(88, 85, 94, 0.5);
$contentLoaderForeground: rgba(88, 85, 94, 0.7);
